<div class="home">
  <section class="container centered">
    <div class="about">
      {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{.}}" alt="avatar"></div>
      {{ end }}
      <h1>{{ .Site.Params.author }}</h1>
      <h2 class="home__info">{{ .Site.Params.info }}</h2>
      <div class="home-social-row">
        <div>
          <a target="_blank" href="https://www.github.com/fulcircle">
            <div class="github-icon" style="margin-right:20px;"></div>
          </a>
        </div>
        <div>
          <a target="_blank" href="https://www.linkedin.com/in/vikram-sunkavalli-1417762a/">
            <div class="linkedin-icon"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="home-bottom-row">
      <div><a href="#resume">Résumé</a></div>
      {{ if .Site.Params.showprojects }}
      <div><a href="#projects">Projects</a></div>
      {{ end }}
      <div><a href="/posts">Posts</a></div>
    </div>
  </section>
  <section id="resume" class="resume-container">
    {{ partial "resume.html" .Site.Data.resume}}
  </section>
  {{ if .Site.Params.showprojects }}
  <section id="projects" class="projects-container">
    {{ partial "projects.html" }}
  </section>
  {{ end }}
</div>