<div class="home">
  <section class="container centered">
    <div class="about">
      {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{.}}" alt="avatar"></div>
      {{ end }}
      <h1>{{ .Site.Params.author }}</h1>
      <h2 class="home__info">{{ .Site.Params.info }}</h2>
      <ul>
        <li><a href="#resume">Résumé</a></li>
        {{ if .Site.Params.showprojects }}
        <li><a href="#projects">Projects</a></li>
        {{ end }}
      </ul>
    </div>
    <div>
      <div class="scroll-pointer"></div>
    </div>
  </section>
  <section id="resume" class="resume-container">
    {{ partial "resume.html" .Site.Data.resume}}
  </section>
  {{ if .Site.Params.showprojects }}
  <section id="projects" class="projects-container">
    {{ partial "projects.html" }}
  </section>
  {{ end }}
</div>