<div class="projects__details">
    <div class="projects__section">
        <div class="projects__row">
            <h1>Projects</h1>
        </div>
        {{ range .projects}}
        <div class="projects__row">
            <div class="project__image"><a target="_blank" href="{{ .url }}"><img src="{{ .image }}" /></a></div>
            <div class="project__description">
                <div class="project__description-inner">
                    <h3><a target="_blank" href="{{ .url }}">{{ .title }}</a></h3>
                    <p>{{ .description }}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>