<div class="resume-details">
    <div class="resume-section" style="flex: 1">
        <div style="flex: 1.2">TECHNOLOGIES</div>
        <div style="flex: 1">PROFICIENT
            <ul>
                <li>Python / Django</li>
                <li>Javascript</li>
                <li>SCSS/CSS</li>
                <li>Responsive Design</li>
                <li>Test Automation / Selenium</li>
                <li>Angular 4</li>
                <li>Linux</li>
                <li>AWS</li>
                <li></li>
            </ul>
        </div>
        <div style="flex:1">EXPERIENCE WITH
            <ul>
                <li>Rails</li>
                <li></li>
            </ul>
        </div>
    </div>
</div>