<div class="resume-details">
    <div class="resume-section" style="flex: 1">
        <div class="resume-section__row">
            <div>
                <h2>Technologies</h2>
            </div>
            <div>
                <h3>PROFICIENT</h3>
                <ul class="resume-section__ul">
                    {{ range .technologies_proficient }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
            <div>
                <h3>EXPERIENCE WITH</h3>
                <ul class=resume-section__ul>
                    {{ range .technologies_experienced }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    <div class="resume-section">
        {{ range $index, $val := $.work_experience }}
        <div class="resume-section__row">
                {{ if not $index }}
            <div>
                <h2>
                    Work Experience
                </h2>
            </div>
                {{ else }}
                <div class="hide-small"></div>
                {{ end }}
            <div style="flex: 2">
                <h3 class="resume-section__position">{{ .role }}</h3>
                <div class="resume-section__company"><a target="_blank" href="{{ .company_link }}">{{ .company }}</a>
                    <div style="margin-bottom: 8px" class="show-mobile"></div>
                    <div class="show-mobile" style="line-height: 26px">{{ .location }}, {{ .date_from }} - {{ .date_to }}</div>
                    <span class="hide-mobile">{{ .location }}, {{ .date_from }} - {{ .date_to }}</span>
                </div>
                <p class="resume-section__blurb">{{ .description }}</p>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="resums-section">
        {{ range $index, $val := $.education }}
        <div class="resume-section__row--education">
            <div>
                <h2>
                    {{ if not $index }}
                        Education
                    {{ end }}
                </h2>
            </div>
            <div style="flex: 2">
                <h3 class="resume-section__position">{{ .credential }}</h3>
                <p class="resume-section__blurb">
                    <a target="_blank" href="{{ .link }}">{{ .institution }}</a>
                    <br class="show-mobile"/>
                    {{ .location }},
                    {{ if .date_from }}
                        {{ .date_from }} -
                    {{ end }}
                    {{ .date_to }}
                </p>
            </div>
        </div>
        {{ end }}
    </div>
</div>