.container.post {
    @extend .details;
    max-width: 650px;

    h1 {
        line-height: 40px;
    }
}

article p {
    font-size: 18px;
    line-height: 28px;
    margin: 35px 0;

}

.content article header {

    h2 {
        &.date {
            font-size:15px;
        }
    }

}

.content article {
    h5 {
        margin-top: 60px;
    }
}

.container.list {
    @extend .details;
    align-items: center;
}

.centered-image {
    width: 300px;
    height: auto;
    margin: 35px auto;
}
