.projects__details {
    @extend .details;

    h1 {
            font-size: 42px;
            line-height: 2.8rem;
            color: $accent;
            font-weight: 300;
            margin: 0;
            letter-spacing: 6px;
            text-transform: none;
    }

    h2 {
        @include section-h2;

        a {
            text-decoration: none;
            all: unset;
        }
    }

    h3 {
        @include section-h3;

        a {
            text-decoration: none;
        }
    }
}

.projects-container {
    @extend .section-container;
    background-color: $bg-color;
}

.projects__section {
    @extend .section;
}


.projects__row {
    @extend .section-row;

    @include mobile {
        flex-direction: column;
    }
}

.project__image {
    @include mobile {
        margin-bottom: 20px;
    }
}

.project__description-inner {
    margin-left: 20%;

    @include mobile {
        margin-left: 0;
    }
}
