.resume-section__company {
    font-size: 15px;
    font-style: normal;
    transition: none;
    font-weight: 400;

    a {
        font-size: 18px;
        font-weight: 400;
        text-decoration: underline;
        &:before, &:after {
            all: unset;
        }
    }
}

.resume-section__blurb {
    line-height: 28px;
}

.resume-details {
    @extend .details;

    h2 {
        @include section-h2;
    }

    h3 {
        @include section-h3;

        &.resume-section__position {
            text-align: left;
            margin-bottom: 20px;
        }
    }
}

.resume-container {
    background-color: rgba(128, 128, 128, 0.05);
}

.resume-section {
    @extend .section;
}

.resume-section__row {
    @extend .section-row;
}

.resume-section__row--education {
    @extend .resume-section__row;
    margin-bottom: 30px;

    .resume-section__position {
        margin-bottom: 0;
    }

    p {
        margin-top: 10px;
    }

    div {
        margin-bottom: 20px;
    }
}

ul.resume-section__ul {
    padding-inline-start: 25px;
    li {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        height: 28px;
        letter-spacing: normal;
        line-height: 28.8px;
        list-style-type: disc;
        overflow-wrap: break-word;
    }
}