<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    <meta name="description" content="{{ if .IsPage }}{{ .Site.BaseURL }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    {{ with .Site.Params.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}
    
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:title" content="{{ block "og-title" . }}{{ .Site.Title }}{{ end }}">
    <meta property="og:description" content="{{ if .IsPage }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ if .IsPage }}{{ .Site.BaseURL }}{{ .Params.thumbnail }}{{ else }}{{ .Site.BaseURL }}{{ .Site.Params.thumbnail }}{{ end }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ .Permalink }}">
    <meta name="twitter:image" content="{{ if .IsPage }}{{ .Site.BaseURL }}{{ .Params.thumbnail }}{{ else }}{{ .Site.BaseURL }}{{ .Site.Params.thumbnail }}{{ end }}">

    <base href="{{ .Site.BaseURL }}">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .Site.Params.snsShare }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    {{ end }}
    <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

    {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css") | postCSS | minify | fingerprint }}

    <link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">

    {{ if .Site.Params.rtl}}
      {{ $style_rtl := resources.Get "scss/style-rtl.scss" | toCSS (dict "targetPath" "css/style-rtl.css") | postCSS | minify | fingerprint }}
      <link rel="stylesheet" href="{{ $style_rtl.Permalink }}" media="screen">
    {{ end }}

    {{ range .Site.Params.custom_css }}
      <link rel="stylesheet" href="{{ . | absURL }}">
    {{ end }}

    {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

  <script src="{{ "js/app.js" | absURL }}"></script>
    <script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>

    {{ .Hugo.Generator }}
  </head>

  <body class="{{ if .Site.Params.rtl }}rtl{{ end }}">
    <main class="wrapper">
      {{ if or (.Site.Params.headerContent) (and (.Site.Params.headerBlogContent) (eq .Section "posts"))}}
        {{ partial "header.html" . }}
      {{ end }}
      <div class="content">
        {{ block "content" . }}{{ end }}
      </div>
      {{ if or (.Site.Params.fixedbarContent) (.Site.Params.snsShare)}}
        {{ partial "footer.html" . }}
      {{ end }}
    </main>

    {{ template "_internal/google_analytics.html" . }}

  {{ with .Site.Params.fixedbarContentAfter }}
  <script>
  (function($) {
    $(function() {
      $('#privateTrigger').on('click', function() {
        $('.private').slideToggle();
        $('#privateTriggerText').text("{{ . }}");
      });
    });
   })(jQuery);
  </script>
  {{ end }}
  </body>
</html>
